<mat-form-field>
  <mat-label>Sort</mat-label>
  <mat-select>
    <mat-option value="name"> Name </mat-option>
    <mat-option value="-released"> Released </mat-option>
    <mat-option value="-added"> Added </mat-option>
    <mat-option value="-created"> Created </mat-option>
    <mat-option value="-updated"> Updated </mat-option>
    <mat-option value="-rating"> Rating </mat-option>
    <mat-option value="metacritic"> Metacritic </mat-option>
  </mat-select>
</mat-form-field>

<main>
  <div class="grid-3">
    <div class="card">
      <img src="https://images7.alphacoders.com/421/421641.jpg" alt="">
      <div class="card-bottom">
        <h3>Name: Grand Theft</h3>
        <img src="https://png.pngtree.com/element_our/20190528/ourmid/pngtree-xbox-free-button-png-image-image_1144425.jpg" alt="">
      </div>
    </div>

    <div class="card">
      <img src="https://images7.alphacoders.com/421/421641.jpg" alt="">
      <div class="card-bottom">
        <h3>Name: Grand Theft</h3>
        <img src="https://png.pngtree.com/element_our/20190528/ourmid/pngtree-xbox-free-button-png-image-image_1144425.jpg" alt="">
      </div>
    </div>

    <div class="card">
      <img src="https://images7.alphacoders.com/421/421641.jpg" alt="">
      <div class="card-bottom">
        <h3>Name: Grand Theft</h3>
        <img src="https://png.pngtree.com/element_our/20190528/ourmid/pngtree-xbox-free-button-png-image-image_1144425.jpg" alt="">
      </div>
    </div>

    <div class="card">
      <img src="https://images7.alphacoders.com/421/421641.jpg" alt="">
      <div class="card-bottom">
        <h3>Name: Grand Theft</h3>
        <img src="https://png.pngtree.com/element_our/20190528/ourmid/pngtree-xbox-free-button-png-image-image_1144425.jpg" alt="">
      </div>
    </div>
  </div>
</main>
